<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body>
    <div align="center">
        <form class="layui-form" method="post" th:action="@{/user/login}">
            <input type="text" name="username" placeholder="username"><br>
            <input type="password" name="password" placeholder="password"><br>
            <p th:text="${msg}"></p>
            <button class="layui-btn layui-btn-radius" name="btn" value="login">登 录</button>
        </form>
    </div>
</body>
</html>